#aug-browser{

	width: 100%;
	height:300px;
	overflow: hidden;
}
#aug-footer{
    width:100%;
    height:60px;
    bottom:0;
    background:#D2CFCF;
    position:absolute;
}
#owl-carousel-for-augmenters{
	position: relative;
    background-color: #f8f8f8;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0px;
}
#augmentation-browser{
	width: 100%;
	min-height: 60%;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
	border: 1px solid gray;
}
#owl-carousel-for-augmenters{
    border-top: 1px solid #EEE;
    background: linear-gradient(to bottom, #F9F4DF, rgb(255, 255, 255)) repeat scroll 0% 0% transparent;
}

.custom-owl-item{
    background: rgb(238, 238, 238) !important;
    border: 1px solid #adadad !important;
    border-radius: 7px;
    font-weight: bold;
    margin: 0px !important;
    padding: 10px 0;
    text-align: center;
    overflow: hidden;
}
.custom-owl-item-back{
    background: rgb(238, 238, 238) !important;
    color: rgb(21, 122, 181) !important;
    border-radius: 7px;
    font-weight: bold;
    margin: 0px !important;
    padding: 10px 0;
    text-align: center;
    overflow: hidden;
}
.custom-owl-nav-item{
    background: white;
    color: #333;
    font-weight: normal;
    text-shadow: 1px 0px #adadad;
    border-radius: 7px;
}
.custom-owl-item:hover,
.custom-owl-item:focus,
.custom-owl-item.focus,
.custom-owl-item:active,
.custom-owl-item.active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
} 
.owl-carousel {
    text-align: center;
}