#qrScannerDiv{ 
	width: auto; 
	height: auto; 
	text-align: center;	
} 
#videoDiv{
	width: 250px; 
	height: auto; 
	background-color: 
	rgb(238, 238, 238); 
	position: absolute; 
	right: 0px; 
	left: 0px; 
	padding: 5px; 
	border-style: solid; 
	border-width: 2px; 
	border-color: rgb(179, 173, 161); 
	box-shadow: 0px 0px 5px rgb(136, 136, 136); 
	margin-right: auto; 
	margin-left: auto;
}
#liveVideo{
	background-color: black;
	width: 250px;
	height: 250px;
}
#screenshotButton{
	width: 90px; 
	height: 70px; 
	box-shadow: 0px 10px 10px 0px rgb(136, 136, 136); 
	border: 1px solid rgb(171, 171, 171); 
	padding: 5px; 
	margin: 5px; 
	background-color: white; 
	border-radius: 8px 8px 8px 8px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
#qrCanvas{
	visibility: hidden;
	width: 210px; 
	height: 210px;
	position: absolute;
	top: 0;
	left: auto;
}
#qrGuidesCanvas{
	
	width: 250px;
	height: 250px; 
	border: 1px solid #404040; /*#8DF500*/
	margin: 4px;
	position: absolute; 
	left: 0px; 
	top: 0px;
}